<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAWsitive - PantallaInicio</title>
    <link rel="stylesheet" href='static/css/style.css'">
</head>
<body>
    <div class="container" id="app-container">
        <div class="dog-container">
            <img src="static/images/perro.png" alt="PAWsitive Logo" class="dog-image">
            
            <!-- Bocadillo de texto al lado de la boca del perro -->
            <div class="speech-bubble2">
               HOLA!
            </div>
            <div class="arrow-button2" id="volver">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="#E0F4F1">
                    <path d="M14 7l-5 5 5 5V7z"/>
                </svg>
            </div>
        </div>
        <h1 class="title">PAWsitive</h1>
        <div class="button-container">
            <div class="button-item" id="calendar-button"   >
                <img src="static/images/calendario.png" alt="Calendario">
            </div>
            <div class="button-item" id="dog-button">
                <img src="static/images/cara.png" alt="Perro">
            </div>
            <div class="button-item" id="question-button">
                <img src="static/images/adopcion.png" alt="Pregunta">
            </div>
        </div>
    </div>
    <script>
        // Función para manejar la carga dinámica del contenido
        function loadContent(url) {
            fetch(url)
                .then(response => response.text()) // Obtiene el HTML de la nueva página
                .then(html => {
                    const contenedorElemento = document.getElementById('app-container');
                    contenedorElemento.innerHTML = html;  // Solo actualiza el contenido dinámico
                    window.location.href= url;
                })
                .catch(error => {
                    console.warn('Error al cargar el contenido:', error);
                });
        }

        // Manejo de clics en los botones para cargar el contenido correspondiente
        document.getElementById('calendar-button').addEventListener('click', function() {
            loadContent('/calendario');  // Ruta para cargar el contenido del calendario
        });

        document.getElementById('dog-button').addEventListener('click', function() {
            loadContent('/mascotas');  // Ruta para cargar el contenido del perro
        });

        document.getElementById('question-button').addEventListener('click', function() {
            loadContent('/adopcion');  // Ruta para cargar el contenido de la pregunta
        });

        document.getElementById('volver').addEventListener('click', function() {
            localStorage.removeItem('token');
            loadContent('/');  // Ruta para cargar el contenido de la pregunta
        });
    
    </script>
</body>
</html>
